body { 
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
  text-decoration: underline;
  font-weight: bold;
}

#article {
  background-color: white;
}